<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project24</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Createdb</display-name>
    <servlet-name>Createdb</servlet-name>
    <servlet-class>com.hariprasad.Createdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createdb</servlet-name>
    <url-pattern>/Createdb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accessdb</display-name>
    <servlet-name>Accessdb</servlet-name>
    <servlet-class>com.hariprasad.Accessdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accessdb</servlet-name>
    <url-pattern>/Accessdb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stucreadb</display-name>
    <servlet-name>Stucreadb</servlet-name>
    <servlet-class>com.hariprasad.Stucreadb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stucreadb</servlet-name>
    <url-pattern>/Stucreadb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowResult</display-name>
    <servlet-name>ShowResult</servlet-name>
    <servlet-class>com.hariprasad.ShowResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResult</servlet-name>
    <url-pattern>/ShowResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateResult</display-name>
    <servlet-name>UpdateResult</servlet-name>
    <servlet-class>com.hariprasad.UpdateResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateResult</servlet-name>
    <url-pattern>/UpdateResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResult</display-name>
    <servlet-name>ViewResult</servlet-name>
    <servlet-class>com.hariprasad.ViewResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResult</servlet-name>
    <url-pattern>/ViewResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenewResult</display-name>
    <servlet-name>RenewResult</servlet-name>
    <servlet-class>com.hariprasad.RenewResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewResult</servlet-name>
    <url-pattern>/RenewResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData</display-name>
    <servlet-name>DeleteData</servlet-name>
    <servlet-class>com.hariprasad.DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hariprasad.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeResult</display-name>
    <servlet-name>SeeResult</servlet-name>
    <servlet-class>com.hariprasad.SeeResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeResult</servlet-name>
    <url-pattern>/SeeResult</url-pattern>
  </servlet-mapping>
</web-app>